### macOS ###
*.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
*.swp
*.swo
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Go ###
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.o
*.a

# Debug
trace.out
profile.out
bench.out
pprof/

# Go tools
_static/
tmp/
*.cache
*.tmp

### Vite ###
dist/
.vite/
.vitepress/cache/
.eslintcache
*.log
*.lock
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
pnpm-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml

### Outros ###
*.log
*.pid
*.seed
*.vim
